<h2><%= l('rys.rys_plugins') %></h2>

<div class="autoscroll">
<table class="list">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% RysManagement.all do |plugin| %>
      <tr>
        <td><%= plugin.name %></td>
        <td><%= plugin.description %></td>
        <td><%= plugin.feature_records_count %></td>

        <td class="buttons text-right">
          <% if plugin.plugin_active? %>
            <%= link_to l(:button_edit), rys_management_edit_path(plugin.rys_id), class: 'icon icon-edit' %>
          <% else %>
            <% hosting_plugin = EasyHostingPlugin.find_by(plugin_name: plugin.plugin_id) %>
            <% if hosting_plugin.should_be_trial? %>
              <%= link_to(l(:button_try_plugin, days: EasyHostingPlugin::TRIAL_DAYS), admin_activate_trial_path(plugin_name: plugin.plugin_id, skip_restart: '1'), method: 'post', class: 'button-positive orange', title: l(:button_try_plugin, days: EasyHostingPlugin::TRIAL_DAYS)) %>
            <% else %>
              <%= l(:trial_count_exceeded) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h3><%= l('rys_management.other_features') %></h3>

<%= render 'rys_management/features_table', features: RysFeatureRecord.registered_for(nil) %>
